:root {
  --mainColor: #00acee;
  --secColor: #dbe6fd;
  --background: #334257;
  --maxWidth: 50rem;
  --sizeXS: 0.7rem;
  --sizeS: 0.9rem;
  --sizeM: 1rem;
  --sizeL: 1.2rem;
  --sizeXL: 2.2rem;
  --borderRadius: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 50%;
  }
}
